@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }

  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }

  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/nprogress/nprogress';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

.material-icons {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  display: inline-block;
  line-height: normal;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  position: relative;
  top: .2em;
}

html, body {
  background: #ffffff;
  color: #08060d;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  cursor: default;
}
